#tableContent .table .status{
    vertical-align:middle;
}
#tableContent .table .status div{
    cursor:pointer;
}
#tableContent .table .status input{
    visibility:hidden;
}
#tableContent .table .status .flex div:first-child{
    margin-right:10px;
    margin-left:10px;
}
#tableContent .table .status .flex div:first-child:before{
    content: "\221A";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid gainsboro;
    border-radius: 3px;
    color:#28a745;
    line-height: 12px;
    text-indent: 1px;
    font-weight: bold;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity:0.5;
}
#tableContent .table .status .flex div:last-child{
    margin-left:10px;
}
#tableContent .table .status .flex div:last-child:before{
    content: "\00d7";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 2px solid gainsboro;
    border-radius: 3px;
    color: #dc3545;
    line-height: 6px;
    text-indent: -2px;
    font-weight: bold;
    font-size: 22px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity:0.4;
}
#tableContent .table .status .flex div.checked:before , #tableContent .table .status .flex div:hover:before{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
    opacity:1;
}
.form-group {
    margin-top: 0.3rem;
}
.flex{
    justify-content:center;
}