#tableContent{
    min-height:calc(75vh - 40px);
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
@media only screen and (max-device-width: 768px) {
    #tableContent {
        min-height: unset;
    }
}
#menuBox{
    width:320px;
    border-radius:5px;
    border:2px solid #3498db;
    padding: 10px;
}
.col-xs-12.text-center{
    padding:15px;
    height:25vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
.col-xs-12.text-center img{
    display:block;
    max-width:85%;
    max-height:100%;
}
.site-menu{
    padding:0;
    margin:0;
}
.site-menu li{
    list-style:none;

}
.site-menu li a{
    display:block;
    width:100%;
    text-align:center;
    padding:3px 5px;
    font-size:18px;
    font-weight:500;
    border-radius:5px;
}
.site-menu li a:hover{
    text-decoration:none;
    background:#007bff;
    color:#fff;
}