#tableContent div{
    padding-left:3px;
    padding-right:3px;
}
.form-wrapper{
    position:fixed;
    z-index: 10;
    background:#fff;
}
.form-wrapper .col-8, .form-wrappercol-4{
    padding-left:15px;
    padding-right:15px;
}