<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link href="../css/bootstrap.min.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" />
    <link href="../css/style.css" type="text/css" rel="stylesheet" />
    <link href="../css/tree.css" type="text/css" rel="stylesheet" />
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../config/config.js"></script>
    <script src="../js/tree.js"></script>
    <script src="../js/cookie.js"></script>
    <script>
        window.isLogin = typeof Cookies.get('isLogin') != typeof undefined;
    </script>
    <script src="../js/jquery-ui.js"></script>
    <script src="../js/add_all_order.js"></script>
    <script src="../js/user.js"></script>
</head>
<body >
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#TopMenu" aria-controls="TopMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="TopMenu">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="index.html">Журнал</a>
                        </li>
                    </ul>
                    <ul class="form-inline my-2 my-md-0 navbar-nav" href="#">
                        <li class="nav-item active">
                            <a id="logout" class="nav-link" href="javascript:void(0)">Вихід</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="row">
        <div class="container-fluid col-5" id="group_wares_chose">
            <div class="col-md-12 col-sm-12">                
                <div class="form-group">
                    <div class="ui-widget GP">
                        <div class="row">
                            <label class="col-md-12 col-sm-12"><b>Група поставки:</b> </label>
                            <select id="combobox1"></select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                        <div id="id_e" v-html="name_elect">
                            {{name_elect}}                             
                        </div>                        
                        <div >
                            <button id="add_order" type="button" class="btn btn-primary">Вибрати</button>
                        </div>
                   
                </div>
            </div>
        </div>

        <div class="col-5" id="group_wares_tree">
            <ul id="demo">
                <tree-item class="item"
                           :item="treeData"
                           @choose-item="chooseItem">
                </tree-item>
            </ul>

        </div>

    </div>
        

    <div id="loginForm">
        <form class="form-signin">
            <h2 class="form-signin-heading">Зайдіть в кабінет</h2>
            <label for="inputLogin" class="sr-only">Логин</label>
            <input type="text" id="inputLogin" class="form-control" placeholder="Логин" required="" autofocus="" />
            <label for="inputPassword" class="sr-only">Пароль</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required="" />

            <button id="loginButton" class="btn btn-lg btn-primary btn-block" type="button">Вхід</button>
        </form>
    </div>




    <script type="text/x-template" id="item-template">
        <li>
            <div :class="{bold: isFolder}"
                 @click="toggle"
                 @click="chooseItem">
                <span class="kursor" v-if="isFolder">[{{ isOpen ? '-' : '+' }}]</span>
                <a class="kursor">{{ item.name }}</a>
            </div>
            <ul v-show="isOpen" v-if="isFolder">
                <tree-item class="item"
                           v-for="(child, index) in item.children"
                           :key="index"
                           :item="child"
                           @choose-item="$emit('choose-item', $event)">
                </tree-item>
            </ul>
        </li>
    </script>



    <script>
        if (isLogin) {
            $('#loginForm').hide();
        }
    </script>
    
</body>